<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rob Koomjian</title>
</head>
<body>
<div class="container-fluid">

    <!-- //nav/////// -->
    <div class="row">
        <nav class="col-xs-5 col-sm-3 col-md-3 nav-fixed hidden-md hidden-lg">
            <ul class="text-uppercase nav nav-pills nav-stacked">
                <li><a href="#about"><strong>About Me</strong></a></li>
                <li><a href="#skills"><strong>Skills</strong></a></li>
                <li><a href="#websites"><strong>Websites</strong></a></li>
                <li><a href="#contact"><strong>Contact</strong></a></li>
            </ul>
        </nav>
    </div>
    <!-- //end of nav///// -->

    <!-- //content///////// -->
    <div class="container adjust">
        <div class="row">
            <!-- banner -->
            <div id="flower" class="col-md-offset-3 col-xs-offset-5 col-xs-7 col-sm-offset-3 col-sm-9 col-md-9">
                <!-- information -->
                <div class="row ">
                    <div class="content col-md-offset-2 col-md-6">
                        <a name="about"></a><h2 class="about">About Me</h2>
                        <p class="text-justify">My names Robert Koomjian. I'm a 28 year old, web developer. I started teaching myself web design 2 years ago.</p>
                    </div>
                    <div class="content col-md-5">
                        <a name="skills"></a>
                        <h2>Skills</h2>
                        <ul class="text-justify">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>Express</li>
                            <li>Node</li>
                            <li>jQuery</li>
                            <li>PHP</li>
                            <li>Wordpress</li>
                            <li>Video Editing</li>
                            <li>Image Optimization</li>
                        </ul>
                        <h2>Minor Skills</h2>
                        <ul class="text-justify">
                            <li>MongoDB</li>
                            <li>SQL</li>
                            <li>Laravel</li>
                        </ul>
                    </div>
                    <div class="content col-md-offset-1 col-md-6">
                        <a name="websites"></a><h2>Websites</h2>
                        <p class="text-justify">Coming Soon! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ex illo repellendus veritatis aut voluptatum ipsa deserunt id porro, reprehenderit. Ratione neque nemo expedita impedit dignissimos atque cum eligendi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sint sapiente sed vel veritatis hic, repellendus rerum sit accusamus similique perferendis temporibus esse dolorem beatae provident debitis necessitatibus. Sunt, obcaecati?</p>
                    </div>
                    <div class="content col-md-6">
                        <a name="contact"></a><h2>Contact</h2>
                        <ul class="text-justify">
                            <li>E-mail: robkoomjian@gmail.com</li>
                            <li>Phone: 559-709-8587</li>
                        </ul>
                    </div>
                    <!-- footer -->
                    <footer class="col-md-offset-1 col-md-4 pull-left">
                        <p>&copy; Robert Koomjian. All rights reserved.</p>
                    </footer>
                </div>
            </div>
            <!-- end of information -->
        </div>
    </div>
    <!-- end of content -->
</div>

</body>
</html>